<!-- Start of Contact Section -->

<section id="contact">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary">Join us</h6>
                <h1>Login/Sign up</h1>
                <p>
                    Our friendly team is here to assist you and ensure that your experience with Nubia SPA is nothing
                    short of exceptional. Don't hesitate to get in touch—we're always here to help!
                </p>
            </div>
        </div>

        <form action="" class="row g-3 justify-content-center">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Full Name">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Enter E-mail">
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Enter Subject/Optional">
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Password">
            </div>
            <div class="col-md-10">
                <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Enter Message"></textarea>
            </div>
            <div class="col-md-10 d-grid">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</section>
<!-- End of Contact Section -->