 <!--Hero Section starts-->
 <div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-white">Nubia SPA</h1>
                <p class="text-white my-3">
                    Embark on a journey of luxurious indulgence at Nubia Spas, where ancient traditions meet modern sophistication. 
                    Discover a sanctuary of tranquility and rejuvenation, offering a curated selection of exquisite treatments designed to nourish the body, soothe the mind, and elevate the spirit.
                    Experience the epitome of relaxation and wellness as we invite you to unwind, recharge, and rediscover your inner radiance amidst the timeless beauty of Nubian culture.
                </p>
                <a href="booking.html"  target="_blank"  class="btn btn-primary me-2">Get Started</a>
                <a href="#portfolio" class="btn btn-outline-light">My Portfolio</a>
            </div>
        </div>
    </div>
</div>
<!-- Hero Section End-->