 <!--Start Prices Section-->
 <section id="pricing" class="bg-light">
     <div class="container">
         <div class="row mb-5">
             <div class="col-md-8 mx-auto text-center">
                 <h6 class="text-primary">Prices</h6>
                 <h1>Our Fair & Simple Pricing</h1>
                 <p>
                     With our fair and simple pricing, you can rest assured that you're getting the best possible value
                     for your money.
                     There are no hidden fees, no upsells, and no gimmicks—just honest, transparent pricing that
                     reflects the true value of our services.
                     Whether you're treating yourself to a solo session or booking a group package for a special
                     occasion, you can trust that our prices are fair, competitive, and designed with your satisfaction
                     in mind.
                 </p>
             </div>
         </div>
         <div class="row g-4">
             <div class="col-lg-3 col-sm-6">
                 <div class="pricing card-effect text-center">
                     <h6>Single Treatment</h6>
                     <h1>£58</h1>
                     <hr>
                     <ul class="list-unstyled mb-4">
                         <li>
                             <box-icon name='check-circle'></box-icon>Choose any one treatment
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Expertise and Quality
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Personalized Experience
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Holistic Approach
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Attention to Detail
                         </li>
                     </ul>
                     <button class="btn btn-primary" onclick="openBookingPage()">Book Now</button>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6">
                 <div class="pricing card-effect text-center">
                     <h6>Dual Treatments</h6>
                     <h1>£100</h1>
                     <hr>
                     <ul class="list-unstyled mb-4">
                         <li>
                             <box-icon name='check-circle'></box-icon>Choose any two treatments
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Exceptional Value
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Time-Saving Convenience
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Enhanced Benefits
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Synergistic Experience
                         </li>
                     </ul>
                     <button class="btn btn-primary" onclick="openBookingPage()">Book Now</button>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6">
                 <div class="pricing card-effect text-center">
                     <h6>Triple Treatments</h6>
                     <h1>£140</h1>
                     <hr>
                     <ul class="list-unstyled mb-4">
                         <li>
                             <box-icon name='check-circle'></box-icon>A choice of three treatments
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Comprehensive Wellness
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Unbeatable Affordability
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Holistic Harmony
                         </li>


                     </ul>
                     <button class="btn btn-primary" onclick="openBookingPage()">Book Now</button>
                 </div>
             </div>
             <div class="col-lg-3 col-sm-6">
                 <div class="pricing card-effect text-center">
                     <h6>Full Treatments Package</h6>
                     <h1>£199</h1>
                     <hr>
                     <ul class="list-unstyled mb-4">
                         <li>
                             <box-icon name='check-circle'></box-icon>Choose any five treatments
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Complete Spa Experience
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Tailored to Perfection
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Total Transformation
                         </li>
                         <li>
                             <box-icon name='check-circle'></box-icon>Unmatched Value
                         </li>
                     </ul>
                     <button class="btn btn-primary" onclick="openBookingPage()">Book Now</button>
                 </div>
             </div>
         </div>
     </div>
 </section>

 <!--Pricing  Section End-->