 <!-- Rest of my booking page content -->
 <div class="content-wrapper">
    <div class="inner-layer  class=" content-wrapper"">
        <div class="container">
            <div class="row no-margin">
                <div class="col-sm-7">
                    <div class="content">
                        <h1>Book Your Time Slot Here</h1>
                        <p>
                            Welcome to our spa booking portal. Discover the ultimate relaxation experience tailored
                            just for you.
                        </p>

                    </div>
                </div>
                <div class="col-sm-5   d-flex justify-content-end pr-0">
                    <div class="form-data">
                        <div class="form-head">
                            <h2>Book Appointment</h2>
                        </div>
                        <div class="form-body">
                            <form id="bookingForm">
                                <div class="row form-row">
                                    <input type="text" placeholder="Enter Full Name" class="form-control"></input>
                                </div>
                                <div class="row form-row">
                                    <input type="text" placeholder="Enter Phone Number"
                                        class=" form-control"></input>
                                </div>
                                <div class="row form-row">
                                    <input type="text" placeholder="Enter Email Address"
                                        class="form-control"></input>
                                </div>
                                <div class="row form-row">
                                    <select class="form-control" id="treatment-select">
                                        <option value="">Choose Treatment</option>
                                        <option value="Single Treatment">Single Treatment</option>
                                        <option value="Dual Treatments">Dual Treatments</option>
                                        <option value="Triple Treatments">Triple Treatments</option>
                                        <option value="Full Treatments Package">Full Treatments Package</option>
                                    </select>
                                </div>
                                <div class="row form-row">
                                    <input id="dat" type="text" placeholder="Enter Appointment Date"
                                        class="form-control"></input>
                                </div>

                                <h6>Address Details</h6>
                                <div class="row form-row">
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Enter Area" class="form-control"></input>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Enter City" class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Enter County" class="form-control"></input>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Post Code" class="form-control"></input>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <button class="btn btn-success btn-appointment">
                                        Book Appointment
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>